<% @comments.each do |comment| %>
  <div class="mt-2 p-1 bg-light">
    <%= comment.content %>

    <% if can? :manage, comment %>
      <div class="btn-group float-right">
        <%= link_to 'Edit', edit_post_path(comment), class: "btn btn-light" %>
        <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-light" %>
      </div>
    <% end %>

    <br>
    <small>
      <%= link_to comment.user.username, comment.user %> wrote
      <%= time_ago_in_words(comment.created_at) %> ago
    </small>
  </div>
<% end %>

<%= will_paginate @comments, list_classes: %w(pagination my-3 justify-content-center) %>
