<% @posts.each do |post| %>
  <div class='mt-4 p-1 bg-light rounded shadow-sm w-100'>
    <div class='mx-2 text-justify'>
      <%= link_to post.content, post, class: 'text-decoration-none text-dark' %>
    </div>
    <div class='row'>
      <div class='col-1'>
        <small class='btn-group-vertical btn-group-sm'>
          <%= link_to '+', upvote_post_path(post), method: :put, remote: true, class: 'badge badge-light w-100' %>
          <%= link_to '-', downvote_post_path(post), method: :put, remote: true, class: 'badge badge-light w-100' %>
        </small>
        <span class='badge badge-light'><%= post.weighted_score %></span>
      </div>
      <div class='col'>
        <small>
          Posted by <%= link_to post.user.username, post.user %>
          <%= time_ago_in_words(post.created_at) %> ago
        </small>
      </div>
      <% if can? :manage, post %>
        <div class='col-2 align-self-end'>
          <%= link_to 'delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge badge-light font-weight-light float-right' %>
          <%= link_to 'edit', edit_post_path(post), class: 'badge badge-light font-weight-light float-right' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= will_paginate @posts, list_classes: %w(pagination my-3 justify-content-center) %>
