<header>
  <nav class='navbar navbar-expand navbar-light' style='background-color: #e4e4e7;'>
    <%= link_to image_tag('logo.png', alt: 'Reddthis', width: '25', height: '25', class: 'd-inline-block align-top'), root_path %>
    <%= link_to 'eddthis', root_path, class: 'navbar-brand mb-0 h1 text-uppercase' %>
    <% if user_signed_in? %>
      <ul class='navbar-nav ml-auto'>
        <li class='nav-item dropdown'>
          <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            <%= current_user.username %>
          </a>
          <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
            <% if can? :read, ActiveAdmin::Page %>
              <%= link_to 'Admin dashboard', admin_dashboard_path, class: 'dropdown-item' %>
            <% end %>
            <%= link_to 'Users', users_path, class: 'dropdown-item' %>
            <%= link_to 'Profile', current_user, class: 'dropdown-item' %>
            <div class='dropdown-divider'></div>
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'dropdown-item' %>
          </div>
        </li>
        <li></li>
        <li>
          <%= link_to 'New post', new_post_path, class: 'btn btn-secondary'  %>
        </li>
      </ul>
    <% else %>
      <ul class='navbar-nav ml-auto'>
        <li>
          <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
        </li>
        <li>
          <%= link_to 'Signup', new_user_registration_path, class: 'btn btn-secondary' %>
        </li>
      </ul>
    <% end %>
  </nav>
</header>
