<%= link_to "ReadThis", root_path %>
<% if user_signed_in? %>
      <ul>
        <li><%= link_to 'New post', new_post_path %></li>
        <li><%= link_to 'Profile', edit_user_registration_path %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
      </ul>
    <% else %>
      <ul>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to 'Log in', new_user_session_path %></li>
      </ul>
    <% end %>
